@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    ---primary-color: #222222;
    ---secondary-color: whitesmoke;
    ---third-color: whitesmoke;
    --border-color: #575757;
    --input-padding: 0.7rem;
    --main-padding: 1rem;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    color: var(---secondary-color);
}

/* Main Grid Styling *************************/
main.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    font-family: 'Faune', sans-serif;
    background-color: var(---primary-color);
}

/* Form Styling ********************************/
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: var(--main-padding);
    border-right: 1px solid var(--border-color);
}

fieldset {
    padding: var(--main-padding);
}

input[type="text"] {
    border: 5px solid var(--border-color);
    color: var(---secondary-color);
    font-size: 1.1rem;
    background-color: var(--border-color);
    padding: var(--input-padding);
    margin-bottom: 0.7rem;
}

form button {
    font-size: 1rem;
    font-weight: bold;
    padding: var(--input-padding);
}

form button:hover {
    cursor: pointer;
}

/* Output Parent Container */
section.word-container {
    display: flex;
    flex-direction: column;
    padding: var(--main-padding);
}

/* HTML element created with JavaScript styling *************/
article.article {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: var(--main-padding);
}

div.info-div p {
    font-size: 1.2rem;
}

/* Radio Button Styling ***********************/
input[type="radio"]:checked~label {
    color: goldenrod;
}

label {
    font-size: 1.1rem;
    font-weight: bold;
}

label:hover {
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
    color: var(---primary-color);
    width: 1.4em;
    height: 1.4em;
    border: 0.2em solid #AAAAAA;
    border-radius: 50%;
}

/* Mobile Styling for mobile ************************/
@media (max-width:780px) {
    main.grid {
        grid-template-columns: 1fr;
    }
}